// You came here to read CSS?
$primary: #000;
$accent: #dae5ff;
$white: #fff;

*,
*::after,
*::before {
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba($primary, .1);
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
}

body {
  background-color: $white;
  color: $primary;
  font-family: $font-sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

body,
html {
  height: 100%;
}

.container {
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 100%;

  @include for-size(sm) {
    max-width: 840px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include for-size(md) {
    max-width: 1140px;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include for-size(lg) {
    max-width: 1740px;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  @include for-size(xl) {
    max-width: 2000px;
  }

}

.intro {
  font-weight: 500;
}
